:root{
  --footer-height: 60px;
  --log-height: 8rem;
}

*,*::after,*::before{
  box-sizing: border-box;
}

.app{
  min-height: 100vh;
}

.app-content {
  --offset: calc(var(--footer-height) + var(--log-height));
  min-height: calc(100vh - var(--offset));

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  border-radius: none;

  margin: 0;
  padding: 0;
  width: auto;
  background: none;
  appearance: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
}
